<div data-role="page">
  <div id="slider-header" data-role="header" style="position: center;">
    <h1>Timeline</h1>
  </div>

  <input id="ex13" type="text" style="position: relative; width: 65%; height: 85%;" data-slider-ticks="[1960, 1970, 1980, 1990, 2000, 2010]" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels="['1960', '1970', '1980', '1990', '2000', '2010']" ticks-positions="[0, 30, 60, 70, 90, 100]" />
</div>
