<%= render 'home/login' %>

<div class="container">


  <div class="jumbotron" >

    <div class="row">
      <div class="col-xs-12 col-md-3" >
        <b>Select Crime Rate</b><br/>
        <%= render "home/form" %>
      </div>
      <div class="container col-xs-12 col-md-9" style="position: relative; width: 75%;">
        <label for="year">Year</label>
        <input type="range" min="1965" max="2012" value="1965" id="fader" step="1" oninput="outputUpdate(value)">
        <output for="fader" id="year">1965</output>
      </div>

    </div>

    <div class="row">
      <div class="holding_div"></div>
      <div class="col-xs-12" id="map-container"></div>
    </div>
  </div>
</div>
