
  $("#map-container").remove();
  $(".holding_div").append('<div id="map-container"></div>');

  var minimums = 1;
  var maximums = 1;
    <%= @minimums %>
    <%= @maximums %>
  var states = <%= @states %>;


  debugger;
  dataManipulators();
  alerter("hi");
