@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-slider";
//@import "slidebar";

.replies {margin-left: 50px;}
#hide-comments {
  display: none;
} //This belongs in home.scss, but it isn't working there
