@import "bootstrap-sprockets";
@import "bootswatch/cosmo/variables";
@import "bootstrap";
body { padding-top: 60px; }
@import "bootswatch/cosmo/bootswatch";
@import "font-awesome";
// @import "base";
