#footer {
    padding-top: 10px;
    padding-bottom: 0px;
    bottom:0;
    width:100%;
}

#year {
  font-weight: 600;
  font-size: 28pt;
}

.datamap {
  margin-top: -60px;
}

#jumbotron1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#jumbotron2 {
  margin-top: 0;
  padding-top: 20;
}

#map-container {
  padding-bottom: 55%;
}
